.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-product-view-edit {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
}

.grid-product-view-edit-item {
  display: flex;
  justify-content: flex-start;
}

button {
  font-weight: bold;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
}